<% content_for :title do %>About<% end %>
<h3>About the HFC</h3>
<p>The club was created in 1925. Had a bad nickname - the Mayblooms - for many years. But became the hawks. Won first premiership in 1961. been winning cups since then.</p>
<h3>US Politics</h3>
<p>it is v interesting. congressional politics. presidential politics.</p>